@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);

	--dark-gray: hsl(0, 0%, 59%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*reset ul styles*/
ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

body,
html {
	background-color: var(--dark-cyan);
	font-family: "Kumbh Sans", sans-serif;
	font-size: 18px;
	height: 100%;
}

.container {
	background-color: var(--dark-cyan);
	height: 100%;
	position: relative;
	overflow: hidden;
}

.body-bg-top {
	position: absolute;
	top: -97%;
	right: 43%;
	z-index: 1;
}

.body-bg-bottom {
	position: absolute;
	bottom: -97%;
	left: 44%;
	z-index: 1;
}

.content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background: #fff url("images/bg-pattern-card.svg") no-repeat;
	position: relative;
	width: 350px;
	height: 440px;
	border-radius: 25px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-profile {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-profile img {
	border: 5px solid #fff;
	max-width: 100%;
	border-radius: 50%;
}

.user-name {
	font-size: 17px;
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
	padding-top: 1rem;
}

.user-age {
	color: var(--dark-gray);
	font-weight: 400;
}

.user-city {
	color: var(--dark-grayish-blue);
	font-size: 14px;
	padding-top: 0.5rem;
	margin-bottom: 1rem;
}
